<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="card animate-pop-in">
        <h1>Prediction Submitted</h1>
        <p class="result-text">The uploaded image is classified as:</p>
        <h2 class="prediction">{{ output | upper }}</h2>
        <br><br>
        <a href="/" class="back-button">Try Another Image</a>
    </div>
</body>
</html>
